.events {
  padding: 100px 0;

  &__subtitle {
    margin: 20px 0 0;
  }

  &__list {
    display: grid;
    margin: 30px 0;
    padding: 0;

    list-style: none;

    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
  }

  &__item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 30px;

    text-align: center;
  }

  &__date {
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.2;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
  }

  &__day {
    display: block;

    font-weight: 700;
    font-size: 3rem;
    letter-spacing: normal;
  }

  &__text {
    margin: 20px 0;
  }
}

@media (max-width: 990px) {
  .events {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 780px) {
  .events {
    &__list {
      grid-template-columns: 1fr;
    }

    &__item {
      padding: 30px 10px;
    }
  }
}
